body{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  overflow:hidden;
 }

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button, .close-button {
  z-index: 11;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: auto;
  background: transparent;
}

.open-button:focus, .open-button:active, .close-button:focus, .close-button:active {
  border:0 !important;
  outline: 0 !important;
}

.hide{
  display: none;
}

.scrolling::-webkit-scrollbar{
  display:none;
}

/* The popup form - hidden by default */
.form-popup {
  display: block;
  position: fixed;
  bottom: 130px !important;
  right: 30px !important;
  z-index: 9;
  max-height: 500px;
  width: 370px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, .2);
  
}

.scrolling {
    width: 100%;
    max-height: 390px;
    overflow: hidden;
    overflow-y: scroll;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  margin-right: 60px;
  margin-top: -10px;
  border-radius: 20px;
}

/* Full-width input fields */
/*.form-container input[type=text] {
  width: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #EFF7FE;
  margin: 22px 16px 0 0;
  transform-origin: bottom right;
  z-index: 2;
  padding: 0px 0px 10px 0px;
  float: right;
  border:none;
  outline: none;
  border-bottom: 1px solid grey;
  /*background-color: #ddd;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  padding: 2px 5px;
  width: 100%;
  padding: 15px;
  margin: 22px 22px 22px 0;
  background: lightblue; 
}*/

.form-container .btn {
    font-family: Graphik, avenir next, avenir, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    margin: 10px 20px 5px 80px;
    width: 190px;
    height: 46px;
    font-weight: 500;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    background-color: #0079c1;
    transition: width .3s, height .3s, color .3s, background-color .3s, border-color .3s;
    color: #fff;
    opacity: 1;
    letter-spacing: 0.5px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set a style for the submit/login button 
.form-container .btn {
  background-color: #0079c1;
  color: white;
  font-size: medium;
  padding: 5px;
  border: none;
  cursor: pointer;
  width: 60%;
  margin: 10px 40px 10px 90px;
  opacity: 0.8;
}
*/

/*.form-container .btn img
  
}*/

.top_header img{
    width:30px;
    height: 30px;
    margin-left: 5px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #0079c1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .close-button:hover {
  opacity: 1;
}

.top_header {
    display: block;
    float: left;
    width: 100%;
    background: #0079c1 !important;
    opacity: 0.9;
    text-align: left;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    color:white;
    padding: 0px 0px 15px 15px;
    line-height: 0px;
}

.top_header #pop_heading {
    color:#ffffff;
    padding-left: 15px;
    font-size:12px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.top_header.say_hi img{
    width:50px;
    height: 50px;
    margin-left: 5px;
    }

.fixed-top {

}
.mid_block img{
  display: flex;
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 60%;
}

.open-button img, .close-button img {
  z-index: 100;
  border:none;
  width: 70px;
  }
  
.inner_form {
    width: 180px;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #EFF7FE;
    border-radius: 10px 10px 3px 10px;
    margin: 20px -40px 20px 50px;
    animation: innerBubbleGrow .5s ease forwards .5s;
    transform-origin: bottom right;
    z-index: 2;
    padding: 15px 26px 16px 21px;
    float: right;
    box-sizing: content-box;
}
  /* display: block;
  background: #EFF7FE;
  float: right;
  margin:10px -45px 10px 100px !important;
  border-radius: 8px 8px 3px 8px;
  animation: innerBubbleGrow .5s ease forwards .5s;
*/
.text_form {
    position: relative;
    margin: .6rem 0;
    opacity: 1;
    animation: textFade .3s linear forwards .3s;
}

.form_name {
    resize: none;
    background-color: #EFF7FE !important;
    border: 0;
    color: #4f4f4f;
    font-size: 14px !important;
    height: 30px;
    line-height: 30px;
    outline: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    letter-spacing: 0.5px;
    padding: 15px 0;
    font-weight: 600 !important;
    box-sizing: content-box;
}

.text_form label{
  color: grey;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 16px;
  pointer-events: none;
  position: absolute;
  /* top: 23px; */
  transition: .2s ease;
  white-space: nowrap;
  z-index: 2;
  min-width: 100px;
  letter-spacing: 0.5px;
}

.text_input {
  background-color: #c4c4c4;
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.img-start {
  width: 55px;
  float: left;
}
.error_msg {
    color: #e73e51;
    font-weight: 600;
    position: absolute;
    bottom: 6px;
    font-size: 12px;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 5px 0 5px 5px;
    display: none;
}
.input_checkmark{
  display: none;
}
/*font-size: 16px;
    font-weight: 400;
    max-width: 222px;
    color: #4f4f4f;
    background-color: #F5F8FA;
    border-radius: 0px 8px 8px 8px;
    animation: outerBubbleGrow .4s ease forwards;
    transform-origin: bottom left;*/
.text-start {
  font-size: 16px;
  color: #4f4f4f;
  float: right;
  border-radius: 0px 8px 8px 8px;
  margin-top: 20px;
  margin-right: 19px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 280px;
  padding: 15px;
  background: #F5F8FA;
  font-weight: 400;
}

.clear {
  clear: both;
}

.first_name .last_name .mobile_no{
  color:grey;
}

@media (max-width: 657px) {
  .form-popup {
     flex-direction: column-reverse;
  }
}
.text_terms p{
  font-size: 14px;
  text-align: center;
  padding: 10px;
  color: #818181;
}

.footer_tag{
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ffffff !important;
    border-top: 1px solid #eeeeee;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 6px 6px;
    color: #818181 !important;
}
/*
.first_name {
  margin: 20px 20px 5px 20px;
  font-size: smaller;
  padding-left: 20px;
  color: #818181;
}
.first_name b {
  font-weight: 400;
  padding:0;
}

.last_name{
  margin: 5px 20px -20px 20px;
  font-size: smaller;
  padding-left: 20px;
  color: #818181;
}
.last_name b {
  font-weight: 400;
}

.mobile_no{
  margin: 5px 20px -20px 20px;
  font-size: smaller;
  padding-left: 20px;
  color: #818181;
}
.mobile_no b{
  font-weight: 400;
}*/
.btn img{

  padding: 10px;

}
 /* Small Devices, Tablets*/ 
 @media only screen and (max-width : 640px) {
  .form-popup{
  width: 320px;
}
.text-start {
  float: right;
  width: 200px;
  padding: 5px;
}
.mid_block img {
  margin-left: 25px;
  }

 }
 
 .top_header {
  top: 0;
  }
 